



                                                                   /*                                              Global View */


	   * {
		  box-sizing: border-box;
		  text-size-adjust: auto;
		  }


		.extra_space{
		  background-color: #FFFFFF;
		  position: relative;
		  left: 100px;
		  top: 300px;
		  margin-top: 300px;
		  width: 92%;		  
		  border-radius: 8px;
	
		}


		



                                                                   /*                                               Mobile View */








@media only screen and (max-device-width: 500px) {
      /* For portrait layouts only */
        * {box-sizing: border-box;
		   align: center;
		}
		
		
		
		.sticktop{
		  position: -webkit-sticky;
		  position: sticky;
		  top: 0px;
		  
		  z-index: 1;
		}
/*              Strat Game Button Bar */		
		.play {
		  background-color: #5E5BF5;
		  position: relative;
		  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
		  height: 50px;
		  width: 92%;		  
		  border-radius: 8px;
		  cursor: pointer;
		  position: relative;
		  top: -13px;
		  font-size: 15px;
		  margin-top: 25px;
		  margin-left: 18px;
		  text-align: center;
		  
		}
		
		
/*              Strat Game Button Bar */			
		.playbtn{
		  position: relative;
		  top: 14px;
		  color: white;
		  text-align: center;
		}
		
		nav {
		  background-color: #FFFFFF;
		}
		.mobnav {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		  margin-top: -20px;
		  margin-left: -15px;
		  border: none;
		  background-color: #FFFFFF;
		  font-size: 20px;
		}
		.logo {
		  height: 50px;
		}
		.center {
		  text-align: center;
		}
		i {
		  padding: 6px 10px;
		  border: none;
		  cursor: pointer;
		}
		
		.search_bar {
		  background-color: #FFFFFF;
		  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		  padding: 10px;
		  margin-left: 25px;
		  margin-right: 14px;
		  margin-top: 10px;
		  outline: none;
		  color: #C3C3C3;		  
		  border-radius: 8px;
		  border: none;
		}
		
		
		
		.categorytab {
		  background-color: #FFFFFF;
		  position: relative;
		  left: 100px;
		  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
		  width: 92%;		  
		  border-radius: 8px;
		  
		}
		
		.searchbar {
		  position: relative;
		  background-color: #FFFFFF;
		  border: none;
		  
		  outline: none;
		  height: 35px;
		  width: 80%;
		  border-radius: 5px;
		  top: -5px;
		  margin-bottom: -15px;
		  margin-left: 5px;
		  font-size: 18px;
		  color: black;
		  }
		
		.searchicon {
		  position: relative;
		  top: -2px;
		  text-align: left;
		  height: 20px;
		  width: 10%;
		  margin-top: 10px;
		  fill: grey;
		}
		
		.left{
		  text-align: left;
		}
		
		.puzzle {
		  position: relative;
		  top: 4px;
		  height: 30px;
		  width: 10%;
		  fill: #328F81;
		  margin-left: 7px;		  
		}
		
		.binocular {
		  position: relative;
		  top: 4px;
		  height: 30px;
		  width: 10%;
		  fill: #5E5BF5;
		  margin-left: 7px;
		}
		
		.ratings {
		  position: relative;
		  top: 4px;
		  height: 30px;
		  width: 10%;
		  fill: #FCA14A;
		  margin-left: 7px;
		}
		
		.contacts {
		  position: relative;
		  top: 4px;
		  height: 30px;
		  width: 10%;
		  fill: #F04D58;
		  margin-left: 7px;
		}

		h2 {
		  margin-bottom: -46px;
		  margin-left: 36px;
		  padding-bottom: 15px;
		  font-size: 15px;
		}
		
		.categorytext {
		  position: relative;
		  top: -5px;
		  font-size: 15px;
		  margin-left: 20px;
		  text-decoration: none;
		}
		
		.categorytab {
		  cursor: pointer;
		  position: relative;
		  font-size: 15px;
		  margin-left: 5px;
		  top: 100px;
		}
		
		
		
		
		h2 { 
		  font-family: 'Raleway', sans-serif;
		  font-style: normal;
		  font-variant: normal;
		  font-weight: 600;
		  line-height: 14px;
		}
		
		a {
		position: relative;
		  font-family: 'Raleway', sans-serif;
		  font-weight: 900;
		  color: #000000;
		  text-decoration: none;
		
		}
		
		input {
		  font-family: 'Raleway', sans-serif;
		  font-weight: 400;
		
		}
		
		svg {
		  position: relative;
		  top: 10px;
		}
/*              Strat Game Button Bar */			
		.play {
		   position: absolute;
		   align: center;
		   bottom: -20px;
		}
		
		
	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
                                                                   /*                                               Desktop View */		
		
		
		
		
		
		
		
				@media only screen and (min-device-width: 500px)  {
      /* For portrait layouts only */
    
		* {box-sizing: border-box;
		   align: center;
		}
		
		
		#myUL li {
		  margin-top: 20px; /* Prevent double borders */
		  margin-left: 120px; 
		}
		
/*              Strat Game Button Bar */			
		.play {
		  background-color: #5E5BF5;
		  position: relative;
		  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
		  height: 50px;
		  width: 50%;		  
		  border-radius: 8px;
		  cursor: pointer;
		  position: relative;
		  top: -13px;
		  font-size: 15px;
		  margin-top: 25px;
		  margin-left: 20px;
		  text-align: center;
		  
		}
		
		
/*              Strat Game Button Bar */			
		.playbtn{
		  position: relative;
		  top: 14px;
		  color: white;
		  text-align: center;
		}
/*              Strat Game Button Bar */			
		.playbtn:hover {
		  position: relative;
		  top: 14px;
		  color: black;
		  text-align: center;
		}
		
		nav {
		  background-color: #FFFFFF;
		}
		.mobnav {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		  margin-top: 0px;
		  margin-left: -15px;
		  margin-right: -15px;
		  border: none;
		  background-color: #FFFFFF;
		  font-size: 20px;
		  backgrount-width:110%;
		  top: 0px;
		  
		  z-index: 1;
		}
		.logo {
		  height: 50px;
		  margin-left: 20px;
		}
		.center {
		  text-align: left;
		}
		
		
		.search_bar {
		float: right;
		  background-color: #FFFFFF;
		  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		  padding: 1px;
		  position: relative;
		  top: -65px;
		  width: 200px:;
		  left: -200px;
		  margin-top: 10px;
		  outline: none;
		  color: #C3C3C3;		  
		  border-radius: 8px;
		  border: none;
		}
		
		.categorytab {
		  background-color: #FFFFFF;
		  position: relative;
		  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
		  height: 60px;
		  width: 350px;		  
		  border-radius: 8px;
		  cursor: pointer;
		  top: 120px;
		  font-size: 15px;
		}
		
		
		.categorytab:hover {
		  background-color: white;
		  position: relative;
		  box-shadow: 1px 1px 5px 1px #5E5BF5, 1px 1px 5px 1px #5E5BF5, -1px 1px 5px 1px #5E5BF5;
		  height: 60px;
		  width: 350px;		  
		  border-radius: 8px;
		  cursor: pointer;
		  top: 120px;
		  font-size: 15px;
		}
		
		
		
		.searchbar {
		  position: absolute;
		  background-color: #FFFFFF;
		  border: none;
		  outline: none;
		  height: 35px;
		  border-radius: 5px;
		  top: 2px;
		  margin-bottom: -15px;
		  margin-left: 0px;
		  font-size: 18px;
		  color: black;
		  }
		
		.searchicon {
		  position: relative;
		  background-color: transparent;
		  float: left;
		  top:12px;
		  margin-left: 5px;
		  text-align: left;
		  height: 15px;
		  width: 15px;
		  fill: grey;
		  z-index: 1;
		}
		
		.left{
		  text-align: left;
		}
		
		.puzzle {
		  position: relative;
		  top: 4px;
		  height: 50px;
		  width: 65px;
		  fill: #328F81;
		  margin-left: 7px;		  
		}
		
		.binocular {
		  position: relative;
		  top: 4px;
		  height: 50px;
		  width: 65px;
		  fill: #5E5BF5;
		  margin-left: 7px;
		}
		
		.ratings {
		  position: relative;
		  top: 4px;
		  height: 50px;
		  width: 65px;
		  fill: #FCA14A;
		  margin-left: 7px;
		}
		
		.contacts {
		  position: relative;
		  top: 4px;
		  height: 50px;
		  width: 65px;
		  fill: #F04D58;
		  margin-left: 7px;
		}

		h2 {
		  margin-bottom: -46px;
		  margin-left: 36px;
		  margin-right: 100%;
		  width: 300px;
		  height: 100px;
		  padding: 0px;
		  font-size: 18px;
		}
		
		.categorytext {
		  position: relative;
		  top: -15px;
		  font-size: 15px;
		  margin-left: 20px;
		  text-decoration: none;
		}
		
		
		
		
		
		
		
		
		h2 { 
		  font-family: 'Raleway', sans-serif;
		  font-style: normal;
		  font-variant: normal;
		  font-weight: 800;
		  line-height: 30px;
		}
		
		a {
		position: relative;
		  font-family: 'Raleway', sans-serif;
		  font-weight: 900;
		  color: #000000;
		  text-decoration: none;
		
		}
		
		input {
		  font-family: 'Raleway', sans-serif;
		  font-weight: 400;
		
		}
		
		svg {
		  position: relative;
		  top: 10px;
		  
		  
		  
		}
		
/*              Strat Game Button Bar */	

		.play {
		   position: absolute;
		   align: center;
		   bottom: -20px;
		   margin-left:25%;
		}
		
		
}
	


section {
		  position: relative;
	  	  margin-top: 10px;
		  margin-left: 20px;
		}
		nav {
		  position: fixed;
	      left: 0;
	      top: 0;
	      width: 100%;
	      z-index:1;
		
		}
		
		.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   text-align: center;
		}

		.foot {
			position: relative;
		   background-color:white;
		   align: center;
		   height: 80px;

		}
		.sec1 {
		   position: relative;
		   margin-bottom: 500px;
		   display: block;
			  margin-left: auto;
			  width: 50%;
		}
		
		ul { 
		  list-style-type: none;
		  margin-top: 200px;
		}
		
		
		.color {
    box-shadow: 1px 1px 5px 1px  orange, 1px 1px 5px 1px orange, -1px 1px 5px 1px orange;
		 
}	
		


